[Unit]
Description=CronCat Agen
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=60
ExecStart=/usr/bin/croncat go ACCOUNT 
StandardOutput=append:/var/log/croncat.log
StandartError=append:/var/log/croncaterror.log

[Install]
WantedBy=multi-user.target
